/**
 * Author: JIN XIAO
 * Email: xiaojin971212@gmail.com
 */
 
.App {
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all .2s ease-in-out;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.row img {
  height: 64px;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.App svg {
  background-color: #fff;
  cursor: pointer;
}

.blue {
  border: 1px solid transparent;
  background-color: #000119;
}

.red {
  border: 1px solid transparent;
  background-color: #e3001a;
}

circle {
  transition: all .1s linear;
}

.blue:hover {
  color: #000119;
  border: 1px solid #000119;
  background-color: transparent;
}

.red:hover {
  color: #e3001a;
  border: 1px solid #e3001a;
  background-color: transparent;

}

button {
  font-size: 12px;
  color: #fff;
  padding: 12px 24px;
  width: 120px;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* cursor: pointer; */
  transition: all .2s ease-in-out;
}
.container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 64px 0;
}

.winContainer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.redBg {
  border: 1px solid #e3001a;
}
.blueBg {
  border: 1px solid #000119;
}
h2 {
  margin-bottom: 24px;
  font-size: 24px;
}
h2.redCl {
  color: #e3001a;
}
h2.blueCl {
  color: #000119;
}

.player {
  width: 48px;
  height: 48px;
  transition: all .2s ease-in-out;
}
.active {
  border-radius: 50%;
  animation: beatHeart 1s infinite;
}
.left .player {
  background-color: #e3001a;
}
.right .player {
  background-color: #000119;
}
.player {
  margin-bottom: 24px;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left .button, .right .button  {
  margin-top: 12px;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}

.switch {
  background-color: transparent;
  color: #000119;
  cursor: pointer;
}

.switch:hover {
  background-color: #000119;
  color: #fff;
}

button:focus {
  outline: none;
}

.disableSection button {
  opacity: 0.5;
  pointer-events: none;
}


@media only screen and (max-width: 600px) {
  .left, .right {
    display: none;
  }
  .App {
    width: 400px;
  }
  .wrapper {
    width: 100%;
  }
  .board {
    border: 1px solid #ddd;
  }
  .logo {
    /* width: 160px !important; */
    height: 48px !important;
  }
}